{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Md. Anisur Rahman's Portfolio Website</title>

<link rel="stylesheet" href="{% static 'style_base.css' %}">
<link rel="stylesheet" href="{% static 'style_common_header.css' %}">
<link rel="stylesheet" href="{% static 'style_cert.css' %}">
<link rel="stylesheet" href="{% static 'style_about.css' %}">
<link rel="stylesheet" href="{% static 'style_contact.css' %}">
<link rel="stylesheet" href="{% static 'style_overview.css' %}">
<link rel="stylesheet" href="{% static 'style_skills.css' %}">
<link rel="stylesheet" href="{% static 'style_projects.css' %}">

</head>
<body>
{% include 'common_header.html' %}
<main>
{% block content %}
{% endblock %}
</main>
<footer>
    © 2026 Md. Anisur Rahman's DevSecOps Portfolio Website
</footer>
</body>
</html>