

{% extends 'base.html' %}

{% block content %}

<section class="contact-banner section_gap">
<div class="banner-content">
<h1>Contact with Me</h1>

<p>
I am a DevSecOps Engineer specializing in CI/CD automation, cloud infrastructure,
        container orchestration, and secure system design. I am open to job opportunities,
        freelance work, and collaboration.
</p>

</div>
</section>

 <section section_gap"></section>
<div class="card">
        <div class="label">Email</div>
        <div class="value">anisur81@gmail.com</div>
    </div>
</section>

<section section_gap"> 
<div class="card">
        <div class="label">Phone</div>
        <div class="value">+880 1971334239</div>
    </div>
    </section>
<section section_gap"> 
    <div class="card">
        <div class="label">Location</div>
        <div class="value">Dhaka, Bangladesh</div>
    </div>
    </section>
<section section_gap">
    <div class="card">
        <div class="label">LinkedIn</div>
        <div class="value"><a href="https://www.linkedin.com/in/anisur-rahman-cisa" target="_blank" rel="noopener noreferrer">www.linkedin.com/in/anisur-rahman-cisa</a></div>
    </div>
    </section>
<section section_gap"> 
    <div class="card">
        <div class="label">GitHub</div>
        <div class="value"><a href="https://github.com/anisur81" target="_blank" rel="noopener noreferrer">github.com/yourname</a></div>
    </div>
    </section>
<section section_gap">
    <div class="card">
        <div class="label">Availability</div>
        <div class="value">Open to Work (Full-time / Freelance / Remote)</div>
    </div>
    </section>
<section section_gap">
     <div class="card">
   <div class="label">Note:</div>        
    <div class="value">I usually respond within 24 hours for professional inquiries.</div>
    </div>
        </section>
{% endblock %}