

{% extends 'base.html' %}

{% block content %}

<section class="about-overview-banner section_gap">
<div class="banner-overview-content">
<h1>About Me</h1>

<p>
I am a results-driven DevSecOps Engineer and Cloud engineer to building secure, efficient, and 
scalable digital solutions. With hands-on experience in Linux systems, kubernetes, Docker, 
CI/CD pipelines, cloud platforms, and Django web development, I help turn ideas into production-ready systems. 
I focus on automation, performance optimization, infrastructure reliability, 
and secure deployments that support long-term growth.
</p>
<p> <a href="{% url 'about' %}" class="btn">Know more About Me </Menu></a>
    </p> 
</div>
</section>



<section class="skills-section section_gap">
    <h2 class="skills-title">My Core Skills</h2>

    <div class="skills-grid">

     
        <!-- 2 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Operating Systems & System Administration</b> <b>90%</b></span>
                <div class="bar"><div class="fill" style="width:90%"></div></div>
            </div>
        </div>

        <!-- 3 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Cloud Platforms</b> <b>88%</b></span>
                <div class="bar"><div class="fill" style="width:88%"></div></div>
            </div>
        </div>

        <!-- 4 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Containers & Orchestration</b> <b>87%</b></span>
                <div class="bar"><div class="fill" style="width:87%"></div></div>
            </div>
        </div>

        <!-- 5 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>CI/CD & Automation</b> <b>91%</b></span>
                <div class="bar"><div class="fill" style="width:91%"></div></div>
            </div>
        </div>

        <!-- 6 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>DevSecOps Security Tools</b> <b>89%</b></span>
                <div class="bar"><div class="fill" style="width:89%"></div></div>
            </div>
        </div>

        <!-- 7 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Infrastructure as Code (IaC)</b> <b>86%</b></span>
                <div class="bar"><div class="fill" style="width:86%"></div></div>
            </div>
        </div>

        <!-- 8 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Monitoring & Logging</b> <b>88%</b></span>
                <div class="bar"><div class="fill" style="width:88%"></div></div>
            </div>
        </div>

        <!-- 9 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Programming / Scripting</b> <b>85%</b></span>
                <div class="bar"><div class="fill" style="width:85%"></div></div>
            </div>
        </div>

        <!-- 10 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Networking & Security Fundamentals</b> <b>84%</b></span>
                <div class="bar"><div class="fill" style="width:84%"></div></div>
            </div>
        </div>

        <!-- 11 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Databases & Storage</b> <b>82%</b></span>
                <div class="bar"><div class="fill" style="width:82%"></div></div>
            </div>
        </div>

        <!-- 12 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Web Development</b> <b>80%</b></span>
                <div class="bar"><div class="fill" style="width:80%"></div></div>
            </div>
        </div>

        <!-- 13 -->
        <div class="progress-card">
            <div class="progress">
                <span><b>Soft Skills / Professional Skills</b> <b>93%</b></span>
                <div class="bar"><div class="fill" style="width:93%"></div></div>
            </div>
        </div>

    </div>
</section>

<section>

    <div class="card">
        <div class="label">Email</div>
        <div class="value">anisur81@gmail.com</div>
    </div>
</section>

</section>
 
{% endblock %}