
{% extends 'base.html' %}

{% block content %}

<section class="skills-header section_gap">
  <div class="skills-content">
    <h1>My Professional Core Skills & Expertise</h1>

    <p>
      I am a passionate DevSecOps Engineer focused on building secure, scalable,
      and automated infrastructure. My core expertise spans across cloud platforms,
      CI/CD pipelines, container orchestration, Infrastructure as Code, and security integration
      throughout the development lifecycle. I combine development, operations, and security
      practices to deliver reliable and efficient systems. With strong hands-on experience
      in modern tools and technologies, I continuously improve my skills to adapt to evolving
      industry standards and best practices.
    </p>
  </div>
</section>

<section class="skills-container">

<div class="skills-grid">

<div class="skill-card">
<h3>🖥️ Operating Systems & System Administration </h3>
<ul>
<li>🐧 Linux (Ubuntu, CentOS, Debian, Red Hat)</li>
<li>🐚 Bash / Shell Scripting</li>
<li>📂 File System Management</li>
<li>👤 User & Group Management</li>
<li>⚙️ Systemctl / Services</li>
<li>📈 Performance Monitoring (top, htop, vmstat)</li>
<li>⚙️ Process and System Management</li>
</ul>
</div>

<div class="skill-card">
<h3>🌐 Networking & Security Fundamentals </h3>
<ul>
<li>🌍 TCP/IP</li>
<li>🖧 Subnetting</li>
<li>🌐 DNS</li>
<li>🛡️ Firewall (UFW, pfSense, iptables)</li>
<li>🔑 IAM / Access Control</li>
<li> ⚖️ Load Balancing</li>
<li> 🌐 Proxy and Web Server</li>
</ul>
</div>

<div class="skill-card">
<h3>🗄️ Databases & Storage</h3>
<ul>
<li>🏛️ Oracle DB</li>
<li>🪟 Microsoft SQL Server</li>
<li>🐬 MySQL</li>
<li>🐘 PostgreSQL</li>
<li>🍃 MongoDB</li>
<li>⚡ Redis</li>
<li>🗄️ IBM Db2 (DB2)</li>
<li>🧩 SQLite</li>
</ul>
</div>


<div class="skill-card">
<h3>💻 Programming & Scripting Language</h3>
<ul>
<li>🐍 Python</li>
<li>🐚 Bash / Shell Scripting</li>
<li>☕ Java</li>
<li>🧬 PHP</li>
<li>🔵 C</li>
</ul>
</div>

<div class="skill-card">
<h3>☁️ Cloud Platforms</h3>
<ul>
<li>☁️ Amazon Web Services (AWS)</li>
<li>🔷 Microsoft Azure</li>
<li>🌐 Google Cloud Platform (GCP)</li>
<li>🟣Oracle Cloud Infrastructure (OCI)</li>
<li> Services: EC2/VM,VPC,IAM,lamda
<li> Load Balancer, (S3),cloud watch etc. </li>
</ul>
</div>

<div class="skill-card">
<h3>🌐 Web Development</h3>
<ul>
<li>🐍 Django</li>
<li>🟩 Node.js</li>
<li>⚙️ JavaScript</li>
<li>⚛️ React.js</li>
<li>🧱 HTML5</li>
<li>🎨 CSS3</li>
</ul>
</div>



<div class="skill-card">
<h3>🐳 Containers & Orchestration</h3>
<ul>
<li>🐳 Docker, Docker Compose and Swarm</li>
<li>🧭 Kubernetes (K8s)</li>
<li>📦 Docker Compose</li>
<li>☸️ OpenShift</li>
<li>🚀 Amazon EKS</li> 
<li>🔷 Azure Kubernetes Service (AKS)</li>
<li>🌩️ Google Kubernetes Engine (GKE)</li> 
<li>🏗️ Helm</li> 
</ul>
</div>


<div class="skill-card">
<h3>🔄 CI/CD Pipeline </h3>
<ul>
<li>🐙 GitHub Actions</li>
<li>🦊 GitLab CI/CD </li>
<li>🌩️ AWS CodePipeline</li>
<li>🧱 Argo CD</li>
<li>🔵🟢Blue-Green Deployment</li>
<li>🚀 AWS CodeDeploy (Canary deployments)</li>
<li>🧑‍💻 Git</li>
</ul>
</div>




<div class="skill-card">
<h3>🔐 DevSecOps Security</h3>
<ul>
<li>🛡️ SonarQube</li>
<li>🐳 Trivy</li>
<li>🧱 Clair (Container Security)</li>
<li>🔎 OWASP ZAP</li>
<li>🛑 Aqua Security</li>
<li>🚨 Falco (Runtime Security)</li>
</ul>
</div>
<div class="skill-card">
<h3>📊 Logging, Monitoring & Analysis</h3>
<ul>
<li>📈 Prometheus</li>
<li>📊 Grafana</li>
<li>📦 ELK Stack (Elasticsearch, Logstash, Kibana)</li>
<li>🧾 Fluentd</li>
<li>🚀 Datadog</li>
<li>🔍 Kibana</li> 
<li>📜 Grafana Loki</li> 
</ul>
</div>

<div class="skill-card">
<h3>🏗️ Infrastructure as Code (IaC)</h3>
<ul>
<li>🟣 Terraform</li>
<li>🧩 Ansible</li>
<li>☁️ AWS CloudFormation</li>
<li>🔷 Azure Resource Manager (ARM Templates)</li>
<li>🌩️ Google Cloud Deployment Manager</li>
</ul>
</div>
<div class="skill-card">
<h3>🧠 Soft Skills / Professional Skills</h3>
<ul>
<li>💬 Communication Skills</li>
<li>🤝 Teamwork & Collaboration</li>
<li>🧩 Problem Solving & 🚀 Continuous Learning</li>
<li>🧭 Critical Thinking & 🧪 Decision Making</li>
<li>⏱️ Time  & 📋 Project Management</li>
<li>🎯 Leadership & 🔄 Adaptability</li>
<li></li>
</ul>
</div>

</div>
</section>

 
{% endblock %}