
{% extends 'base.html' %}

{% block content %}

<section class="cert-banner section_gap">
<div class="cert-content">
<h1>Academic & Professionals Certificatins Detials</h1>

<p>Core technologies, platforms, automation tools, cloud infrastructure,
        security practices, CI/CD pipelines and monitoring expertise used in modern DevSecOps environments.
</p>
</div>
</section>
 

<section class="about-cert section_gap">
    <p class="paraspace"></p>
    <h2>Professional Certificates</h2>
    <p class="cert-subtitle">Industry recognized certifications for DevOps, Security & Cloud Engineering</p>

    <div class="banner-cert">
        <table>
            <tr>
                <th>Kubernetes</th>
                <th>Oracle / Security</th>
            </tr>

            <tr>
                <td>CKA</td>
                <td>Oracle DBA Professional</td>
            </tr>

            <tr>
                <td>CKAD</td>
                <td>CISA</td>
            </tr>
        </table>
    </div>
</section>

<section class="about-Academic section_gap">
    <p class="paraspace"></p>

    <h2>Academic Certificates</h2>
    <p class="cert-subtitle">
        Academic background in Information & Communication Engineering and Security
    </p>

    <div class="banner-academic">
        <table>
            <thead>
                <tr>
                    <th>Degree Name</th>
                    <th>Subject / Specialization</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Master of Engineering</td>
                    <td>Information System Security</td>
                </tr>

                <tr>
                    <td>Master of Science</td>
                    <td>Information & Communication Engineering</td>
                </tr>

                <tr>
                    <td>B.Sc. (Hons.)</td>
                    <td>Information & Communication Engineering</td>
                </tr>

                <tr>
                    <td>Higher Secondary Certificate (HSC)</td>
                    <td>Science</td>
                </tr>

                <tr>
                    <td>Secondary School Certificate (SSC)</td>
                    <td>Science</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
 
{% endblock %}