
{% extends 'base.html' %}

{% block content %}

<section class="about-banner section_gap">
<div class="banner-content">
<h1>About Me</h1>

<p>
I build and optimize secure, scalable, and fully automated
cloud infrastructures using DevSecOps principles.
</p>

</div>
</section>


<!-- HTML -->
<section class="values-section section_gap">
    <h2 class="values-title">My Core Values</h2>

    <ul class="values_list">
        <li>I believe in automation first, security by design, and continuous improvement.</li>

        <li>I value clean architecture, reliable systems, and maintainable code over quick fixes.</li>

        <li>Every system I build focuses on stability, scalability, and security.</li>

        <li>I strongly believe in learning by doing and building real-world solutions.</li>

        <li>I collaborate effectively with teams to deliver better and faster outcomes.</li>

        <li>I continuously stay updated with modern DevOps, DevSecOps, and cloud technologies.</li>
    </ul>
</section>

<section class="about-cert section_gap">
    <p class="paraspace"></p>
    <h2>Professional Certificates</h2>
    <p class="cert-subtitle">Industry recognized certifications for DevOps, Security & Cloud Engineering</p>

    <div class="banner-cert">
        <table>
            <tr>
                <th>Kubernetes</th>
                <th>Oracle / Security</th>
            </tr>

            <tr>
                <td>CKA</td>
                <td>Oracle DBA Professional</td>
            </tr>

            <tr>
                <td>CKAD</td>
                <td>CISA</td>
            </tr>
        </table>
    </div>
</section>

<section class="about-Academic section_gap">
    <p class="paraspace"></p>

    <h2>Academic Certificates</h2>
    <p class="cert-subtitle">
        Academic background in Information & Communication Engineering and Security
    </p>

    <div class="banner-academic">
        <table>
            <thead>
                <tr>
                    <th>Degree Name</th>
                    <th>Subject / Specialization</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Master of Engineering</td>
                    <td>Information System Security</td>
                </tr>

                <tr>
                    <td>Master of Science</td>
                    <td>Information & Communication Engineering</td>
                </tr>

                <tr>
                    <td>B.Sc. (Hons.)</td>
                    <td>Information & Communication Engineering</td>
                </tr>

                <tr>
                    <td>Higher Secondary Certificate (HSC)</td>
                    <td>Science</td>
                </tr>

                <tr>
                    <td>Secondary School Certificate (SSC)</td>
                    <td>Science</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}