{% load static %}
{% include 'common_header.html' %}
<link rel="stylesheet" href="{% static 'style_about.css' %}">
<link rel="stylesheet" href="{% static 'style_table.css' %}">

<body>
<section class="about">
<section class="about-banner">
    <div class="banner-content">
        <h1>About Me</h1>
        <p>I build and optimize secure, scalable, and fully automated cloud infrastructures using DevSecOps principles to ensure speed, reliability, and security.</p>
    </div>
</section>
<p class="paraspace"></p>
    <p>I am a passionate DevSecOps and Cloud Engineer focused on building secure, scalable, and automated systems. I enjoy solving infrastructure challenges, optimizing deployment pipelines, and driving automation.
My expertise includes cloud infrastructure, CI/CD automation, Linux administration, containerization, security best practices, and Kubernetes deployments. I work with technologies such as Docker, Kubernetes, Jenkins, GitHub Actions, AWS, Linux, Terraform, Python, Django, PostgreSQL, and Nginx.
I believe in clean architecture, automation-first workflows, continuous improvement, strong security practices, and delivering reliable systems. My goal is to help businesses deploy faster, stay secure, and scale confidently through modern DevSecOps solutions.</p>
 
<p class="paraspace"></p>
  <p class="values" >What I Stand For</p>
    <p class="values">
    <ul class="values_list">
        <li>I believe in automation first, security by design, and continuous improvement.</li>

        <li>I value clean architecture, reliable systems, and maintainable code over quick fixes.</li>

        <li>Every system I build focuses on stability, scalability, and security.</li>

        <li>I strongly believe in learning by doing and building real-world solutions.</li>

        <li>I collaborate effectively with teams to deliver better and faster outcomes.</li>

        <li>I continuously stay updated with modern DevOps, DevSecOps, and cloud technologies.</li>
    </ul>
</p> 
<p class="paraspace"></p>
 
</section>
<section>
    <table class="full-width-table"> 
	<tr>
	<td style="text-align: center; font-size: 52px;font-weight: bold; color: #00ff88;"> 
	Professional Certificates
	</td>
	</tr>
	</table>
    <table class="full-width-table">
   
   <thead>
    <tr>
      <th>Kubernetes</th>
      <th>Oracle Database and Security & System</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Certified Kubernetes Administrator (CKA)</td>
      <td>Oracle 19c Database Administrator Certified Professional</td>
    </tr>
    <tr>
      <td>Certified Kubernetes Application Developer (CKAD)</td>
      <td>Certified Information Systems Auditor(CISA)</td>
    </tr>
	 <tr>
      <td>Certified Kubernetes Security Specialist (CKS</td>
      <td>Oracle Cloud Infrastructure 2019 Certified Architect Professional</td>
    </tr>
	 <tr>
      <td>Kubernetes and Cloud Native Associate (KCNA)</td>
      <td>IBM Information Management DB2 10 Technical Professional v3</td>
    </tr>
  </tbody>
</table>

<table class="full-width-table"> 
	<tr>
	<td style="text-align: center; font-size: 52px;font-weight: bold; color: #00ff88;"> 
	Academic Certificates
	</td>
	</tr>
	</table>
    <table class="full-width-table">
   
   <thead>
    <tr>
      <th>Degree Name</th>
      <th>Subject Name</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <td>Master of Engineering</td>
      <td>Information System Securty</td>
    </tr>
   <tr>
      <td>Master of Science</td>
      <td>Information & Communication Engineering</td>
    </tr>
	<tr>
      <td>B.Sc. Honours (Information & Communication Engineering)</td>
      <td>Information & Communication Engineering</td>
    </tr>
	 <tr>
      <td>Higher Seceondary Certificte (HSC) </td>
      <td>Science</td>
    </tr>
    <tr>
      <td>Seceondary School Certificte (SSC) </td>
      <td>Science</td>
    </tr>
  </tbody>
</table>
</section>
</section>
</body>   
 